[13.44, 12/12/2025] epul: * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f3ebe7;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 800px;
    display: flex;
    background: #f7e5dd;
    border-radius: 10px;
    overflow: hidden;
}

/* LEFT SIDE */
.left {
    width: 35%;
    background: #b6856a;
    padding: 20px;
    color: white;
    text-align: center;
}

.photo-box img {
    width: 100%;
    border-radius: 8px;
}

.section-title {
    background: #4b3a32;
    color: white;
    font-weight: bold;
    padding: 8px;
    font-size: 16px;
    margin: 20px 0 10px;
    border-radius: 6px;
}

.center {
    text-align: center;
}

.contact p {
    background: #4b3a32;
 …
[13.44, 12/12/2025] epul: * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f3ebe7;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    width: 800px;
    display: flex;
    background: #f7e5dd;
    border-radius: 10px;
    overflow: hidden;
}

/* LEFT SIDE */
.left {
    width: 35%;
    background: #b6856a;
    padding: 20px;
    color: white;
    text-align: center;
}

.photo-box img {
    width: 100%;
    border-radius: 8px;
}

.section-title {
    background: #4b3a32;
    color: white;
    font-weight: bold;
    padding: 8px;
    font-size: 16px;
    margin: 20px 0 10px;
    border-radius: 6px;
}

.center {
    text-align: center;
}

.contact p {
    background: #4b3a32;
    padding: 10px;
    margin: 5px 0;
    border-radius: 6px;
}

.arrow {
    font-size: 40px;
    margin: 30px 0;
}

.hobi {
    line-height: 1.5;
    color: white;
}

/* RIGHT SIDE */
.right {
    width: 65%;
    padding: 30px;
    background: #e5c0a8;
}

.data p {
    margin-bottom: 15px;
    font-size: 15px;
}

ul.education {
    margin-top: 15px;
    line-height: 1.6;
}

ul.education li {
    margin-bottom: 10px;
}