* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: radial-gradient(circle at top, #0f172a, #020617);
  color: #e5e7eb;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #3b82f6;
}

.navbar nav a {
  margin-left: 25px;
  text-decoration: none;
  color: #e5e7eb;
  font-size: 14px;
}

.navbar nav a:hover {
  color: #3b82f6;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
}

.hero-text h1 {
  font-size: 44px;
  line-height: 1.3;
}

.hero-text span {
  color: #3b82f6;
}

.hero-text p {
  margin: 20px 0 30px;
  max-width: 500px;
  color: #9ca3af;
}

.hero-btn {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 12px 28px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
}

.primary {
  background: #3b82f6;
  color: white;
}

.secondary {
  border: 1px solid #3b82f6;
  color: #3b82f6;
}

.hero-img img {
  width: 280px;
  border-radius: 50%;
  background: #052de2;
  padding: 10px;
}

/* SECTION */
section {
  padding: 70px 60px;
}

section h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

/* ABOUT */
.about p {
  max-width: 700px;
  color: #9ca3af;
  margin-bottom: 10px;
}

/* SKILLS */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.skill-card {
  background: #020617;
  padding: 18px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #1e293b;
}

/* PROJECTS */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
}

.project-card {
  background: #020617;
  border-radius: 12px;
  padding: 15px;
  border: 1px solid #1e293b;
}

.project-card img {
  width: 100%;
  border-radius: 8px;
}

.project-card h3 {
  margin-top: 15px;
}

.project-card p {
  color: #9ca3af;
  font-size: 14px;
}

/* CONTACT */
.contact p {
  margin-bottom: 10px;
  color: #9ca3af;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 25px;
  background: #020617;
  border-top: 1px solid #1e293b;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-img {
    margin-top: 40px;
  }

  .navbar {
    flex-direction: column;
    gap: 15px;
  }
}
